body{
    margin: 0px;
}

.header{
    display: block;
    position: sticky;
    color: white;
    top: 0px;
    text-align: center;
    font-size:30px;
    width: 100%;
    padding-bottom: 10px;
    padding-top:10px;
    padding-left: 0px;
    border-radius: 0px;
    background-color: red;
}

.navbar{
    position: relative;
    margin-right: 10px;
    font-size: 30px;
    float: right;
    top: 0px;
}
.navbar button{
    background-color: transparent;
    color: white;
    border: none;
    text-decoration: none;
}

.navbar button:hover{
    background-color:white;
    color: red;
}

.logo{
    position:relative;
    top: 0px;
    margin-left:10px;
    float:left;
}

option:hover{
    background-color:green;
}
select{
    position: inherit;
    padding:5px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

table{
    display: inline;
}

.table-responsive {
    display: inline;
}

.btn-large:hover{
    background-color:green;
    color: white;
}



.selection{
    display :flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    background-color:red;
    padding:20px;
    margin: 20px;
}
/* select:hover{
    background-color:gray;
} */

.page-footer{
    background-color:#263238;
}

.containerlogin{
    position: absolute;
    display:block;
    width:300px;
    height: 300px;
    background-color:lightblue;
    color:white;
}

.footer-copyright{
    background-color:rgba(0,0,0,0.2);
    color: white;
}

.center {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.popup {
position:absolute;
top:-150%;
left:50%;
opacity:0;
transform:translate(-50%,-50%) scale(1.25);
width:380px;
padding:20px 30px;
background:#fff;
box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
border-radius:10px;
transition:top 0ms ease-in-out 200ms,
            opacity 200ms ease-in-out 0ms,
            transform 200ms ease-in-out 0ms; 
}
.popup.active {
top:50%;
opacity:1;
transform:translate(-50%,-50%) scale(1);
transition:top 0ms ease-in-out 0ms,
            opacity 200ms ease-in-out 0ms,
            transform 200ms ease-in-out 0ms;
}
.popup .close-btn {
position:absolute;
top:10px;
right:10px;
width:15px;
height:15px;
background:#888;
color:#eee;
text-align:center;
line-height:15px;
border-radius:15px;
cursor:pointer;
}
.popup .form h2 {
text-align:center;
color:#222;
margin:10px 0px 20px;
font-size:25px;
}
.popup .form .form-element {
margin:15px 0px;
}
.popup .form .form-element label {
font-size:14px;
color:#222;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"],
.popup .form .form-element input[type="email"]{
margin-top:5px;
display:block;
width:100%;
padding:10px;
outline:none;
border:1px solid #aaa;
border-radius:5px;
}



.popup .form .form-element input[type="checkbox"] {
margin-right:5px;
}
.popup .form .form-element button {
width:100%;
height:40px;
border:none;
outline:none;
font-size:16px;
background:red;
color:#f5f5f5;
border-radius:10px;
cursor:pointer;
}
.popup .form .form-element a {
display:block;
text-align:right;
font-size:15px;
color:#1a79ca;
text-decoration:none;
font-weight:600;
}
.error{
    color: red;
    font-size: 15;
    border: red;
    border-radius: 10%;
    font-weight: 100;
}
