<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/Bloodbank-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>BloodBank</title>
</head>

<body>
    <div class="header">
        <span class="logo"><a href="#"><img width="70%"
                    src="https://www.eraktkosh.in/BLDAHIMS/hisglobal/bbpublic/images/Rakt5.png" alt="eRaktkosh"
                    title="eRaktkosh"></a></span>
        <span class="navbar">
            {% if loggedin==False %}
            <button id="show-register">Register</button>
            <button id="show-login" class="login">Login</button>
            {% endif %}
            {% if loggedin==True %}
            <button id="show-logout"><a href="\logout" style="text-decoration: none;color:inherit;">Logout</a></button>
            {% endif %}
        </span>
        <h1>BloodBank</h1>
    </div>
    {% if loggedin==True %}
    <form action="/home" method="post">
        <div class="selection">
            <input type="text" id="HospitalName" name="HospitalName" placeholder="Hospital Name"
                pattern="[A-Za-z0-9_ ,]{1,256}" required>
            <select name="bloodGroup" id="BloodGroup" required>
                <option value="" hidden selected disabled>Blood Group</option>
                <option value="All">All</option>
                <option value="A+Ve">A+Ve</option>
                <option value="B+Ve">B+Ve</option>
                <option value="AB+Ve">AB+Ve</option>
                <option value="O+Ve">O+Ve</option>
                <option value="A-Ve">A-Ve</option>
                <option value="B-Ve">B-Ve</option>
                <option value="AB-Ve">AB-Ve</option>
                <option value="O-Ve">O-Ve</option>
            </select>
            <input type="date" id="DateTime" name="DateTime">
            <button class="btn btn-large">Submit</button>
        </div>
    </form>
    <br>
    <table class="table table-responsive table-bordered">
        <tbody>
            <tr>
                <th colspan="3" style="color:white;background-color:red;">Header</th>
            </tr>
            {% if msg!=None%}           
                {% for i in msg%}
                <tr>
                    <td><b>{{i}}</b></td>
                </tr>
                {%endfor%}
            {%endif%}
        </tbody>
    </table>
    
    {% endif %}
    {% if loggedin==False %}
    <div style="margin-left: 2%; margin-right: 2%; margin-top: 2%;">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- {{session.pop('_flashes',None)}} do not delete this comment (i gave a fair warning already)-->
    <hr>
    <div class="center">
    </div>
    <form action="/login" method="post">
        <div class="popup loginpage">
            <div class="close-btn">&times;</div>
            <div class="field form">
                <div class="control form-element">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus=""
                        required>
                </div>
            </div>

            <div class="field form-element">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password" required>
                </div>
            </div>
            <div class="field form-element">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </div>

    </form>


    <form action="/signup" method="post">
        <div class="popup registerpage">
            <div class="close-btn">&times;</div>
            <div class="form">
                <div class="field form-element">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Email" autofocus=""
                            required>
                    </div>
                </div>

                <div class="field form-element">
                    <div class="control">
                        <input class="input is-large" type="text" name="name" placeholder="Name" autofocus=""
                            pattern="[A-Za-z0-9]{1,20}" required>
                    </div>
                </div>

                <div class="field form-element">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Password" required>
                    </div>
                </div>

                <button class="button form-element is-block is-info is-large is-fullwidth">Sign Up</button>
            </div>
        </div>
    </form>
    {% endif %}
    <center>
        <table class="table table-responsive table-bordered">
            <tbody>
                <tr>
                    <th colspan="3" style="color:white;background-color:red;">Compatible Blood Type Donors</th>
                </tr>
                <tr>
                    <td><b>Blood Type</b></td>
                    <td><b>Donate Blood To</b></td>
                    <td><b>Receive Blood From</b></td>
                </tr>
                <tr>
                    <td><span style="color: #961e1b;"><b>A+</b></span></td>
                    <td>A+ AB+</td>
                    <td>A+ A- O+ O-</td>
                </tr>
                <tr>
                    <td><span style="color: #961e1b;"><b>O+</b></span></td>
                    <td>O+ A+ B+ AB+</td>
                    <td>O+ O-</td>
                </tr>
                <tr>
                    <td><span style="color: #961e1b;"><b>B+</b></span></td>
                    <td>B+ AB+</td>
                    <td>B+ B- O+ O-</td>
                </tr>
                <tr>
                    <td><span style="color: #961e1b;"><b>AB+</b></span></td>
                    <td>AB+</td>
                    <td>Everyone</td>
                </tr>
                <tr>
                    <td><span style="color: #961e1b;"><b>A-</b></span></td>
                    <td>A+ A- AB+ AB-</td>
                    <td>A- O-</td>
                </tr>
                <tr>
                    <td><span style="color: #961e1b;"><b>O-</b></span></td>
                    <td>Everyone</td>
                    <td>O-</td>
                </tr>
                <tr>
                    <td><span style="color: #961e1b;"><b>B-</b></span></td>
                    <td>B+ B- AB+ AB-</td>
                    <td>B- O-</td>
                </tr>
                <tr>
                    <td><span style="color: #961e1b;"><b>AB-</b></span></td>
                    <td>AB+ AB-</td>
                    <td>AB- A- B- O-</td>
                </tr>
            </tbody>
        </table>
    </center>

    <br>
    <!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4">

        <!-- Footer Elements -->
        <div class="container">

            <!-- Social buttons -->
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-tw mx-1">
                        <i class="fab fa-twitter"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-gplus mx-1">
                        <i class="fab fa-google-plus-g"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-li mx-1">
                        <i class="fab fa-linkedin-in"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-dribbble mx-1">
                        <i class="fab fa-dribbble"> </i>
                    </a>
                </li>
            </ul>
            <!-- Social buttons -->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright: Group 007</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script src="../static/script.js"></script>

</body>

</html>